.tabs-container {
    display: flex;
    justify-content: space-between;
}

.tab {
    flex-grow: 0; /* Evitar que las pestañas crezcan para ocupar todo el espacio disponible */
    width: 70%; /* Establecer el ancho de las pestañas al 80% del espacio disponible */
    position: relative; /* Para posicionar correctamente el subrayado */
    text-decoration: none; /* Eliminar el subrayado por defecto */
    color: green; /* Color del texto */
    font-size:24px; /* Tamaño de la fuente */
    padding-bottom: 10px; /* Espacio entre el texto y el subrayado */
    margin-right: -20px; /* Ajustar el margen entre las palabras */
}

.tab::after {
    content: ''; /* Contenido generado */
    position: absolute; /* Posición absoluta respecto al elemento padre */
    left: 0; /* Comenzar el subrayado desde la izquierda */
    bottom: 0; /* Colocar el subrayado en la parte inferior */
    width: 100%; /* Ancho completo */
    height: 2px; /* Grosor del subrayado */
    background-color: cadetblue; /* Color del subrayado */
    transition: width 0.3s ease; /* Efecto de transición para la animación */
}

.tab:hover::after {
    width: 100%; /* Ampliar el subrayado al pasar el mouse */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Ajusta el espaciado según tus preferencias */
    background-color: #f0f0f0; /* Color de fondo del encabezado */

}

 img {
    width: 15%;
    height: 15%;/* Ajusta el tamaño del logo según tus necesidades */
}

.company-name {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100px; /* Altura del encabezado */
    font-size: 40px; /* Tamaño del texto del nombre de la empresa */
    font-weight: bold;
    text-align: center; /* Alinear texto al centro */
    background: linear-gradient(90deg,cornflowerblue,blueviolet,green,yellowgreen); /* Degradado multicolor */
    -webkit-background-clip: text; /* Clip de texto para aplicar el degradado al texto */
    -webkit-text-fill-color: transparent; /* Rellenar el texto con el degradado */
}


.container {
    display: flex;
    gap: 20px;
}

#contp1, #contp2 {
    width: 40%; /* Ocupa el 40% del espacio disponible */
    height: 0; /* Altura inicial cero */
    padding-top: 40%; /* Establece la altura igual al 40% del ancho */
    overflow: auto; /* Habilita el desplazamiento vertical si el contenido excede el tamaño del contenedor */
}

#contimg {
    width: 200px; /* Ajusta el ancho de la imagen según sea necesario */
    flex: 0 0 auto;
}

#blogo {
    max-width: 100%;
    height: auto;
}

#p1, #p2 {
    background-color: #f0f0f0; /* Color de fondo opcional para resaltar los párrafos */
    padding: 10px;
    border-radius: 5px;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.contacto-container {
    display: inline-block;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.contacto {
    margin-bottom: 10px;
}
.boton-enviar {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.boton-enviar:hover {
    background-color: #45a049; /* Verde más oscuro */
}