<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>360º</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/360.css}">
</head>
<body>
<header>
<div>
   <title id="title1">DISEÑO E IDENTIDAD CORPORATIVA</title>
</div>
    <div>
        <title id="title2">GESTIÓN DE RRSS</title>
    </div>
    <div>
        <title id="title3">¿QUE LE FALTA A TU NEGOCIO?</title>
    </div>
</header>
<container>
    <div>
        <h2>DISEÑO E IDENTIDAD CORPORATIVA</h2>

    <p>
        Las marcas están envueltas en un contexto cambiante al que deben adaptarse de forma ágil. No hacerlo penaliza sus ventas e incluso las condena a  desaparecer.
    </p>
    <p>
        Te ayudamos en todas las etapas del ciclo vital de tu proyecto, manteniéndolo actualizado e impulsando su crecimiento.
    </p>
    <p>
        Tú tienes una idea y nosotros sabemos cómo hacerla realidad. Transformamos tu propuesta en lo que tu marca necesita.
    </p>
    </div>
    <div>
        <h2>IDENTIDAD CORPORATIVA</h2>
        <p>
            ✔	Creación de imagen corporativa: diseño, logotipo, branding.
            ✔   Restyling.
            ✔	Diseño gráfico
            ✔   Señalización
            ✔   Papelería corporativa
            ✔	Rotulación de locales comerciales y vehículos
            ✔	Vinilos
            ✔	Corpóreos
            ✔	Ilustración publicitaria
            ✔	Vídeo Branding

        </p>
    </div>
    <div>
        <h2>DISEÑO WEB Y TIENDA ONLINE</h2>
        <p>
            Tu empresa tiene el mejor producto o servicio, nosotros diseñaremos una web para mostrarlo y vender.
        </p>
        <p>
            ✔	Desarrollo web a medida
            ✔	Diseño adaptable (responsive). Nos encargamos de que tu web pueda verse en todo tipo de dispositivos.
            ✔	Rediseño de páginas web. Si tu página es antigua tu producto o servicio lo parecerá también. La actualizaremos y haremos que sea más atractiva funcional y estéticamente.
            ✔	Tiendas online.E-commerce totalmente autogestionables con administración de clientes, proveedores, stock y sistema de pago online incluído.
        </p>
    </div>
    <div>
        <h2>GESTION DE RRSS</h2>
        <p>
            En la actualidad las redes sociales son un elemento imprescindible para transmitir una buena imagen corporativa. Una adecuada reputación online es esencial si quieres incrementar la facturación de tu negocio.
        </p>
        <p>
            Las empresas necesitan tener presencia en el social media:  crea una comunidad comprometida con tu marca y desarrolla una relación estable y duradera con tus seguidores.
        </p>
        <p>
            Mediante planes de gestión predefinidos y 100% adaptables a las características y necesidades de tu proyecto, diseñamos, construimos y ampliamos tu comunidad online
        </p>
        <div>
            <p>
                ✔ Gestión de perfiles sociales

                ✔ Creación de calendarios de publicación

                ✔ Desarrollo, planificación y publicación de contenidos relevantes

                ✔ Dinamización y seguimiento de la comunidad

                ✔ Monitorización e informes periódicos de resultados

            </p>
        </div>
    </div>
</container>
</body>
</html>