<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nosotros.css}">
</head>
<body>
<header>
    <div>
    <img th:src="@{/img/logo.png}" alt="logo">
    </div>
    <div class="company-name">
CAMALEON    </div>
</header>
<body>
<div class="tabs-container">
    <div class="tab">Nosotros</div>
    <div class="tab">360º</div>
    <div class="tab">Laser</div>
    <div class="tab">Merchand</div>
    <div class="tab">Ropa</div>
    <div class="tab">Videos</div>
</div>
<div>

        <container id="contp1">
            <p id="p1">
        Te ayudamos a reforzar tu marca a través de la publicidad, el marketing digital y merchandising.
        Somos capaces de expresar lo que te hace distinto con la calidad y diferenciación que tu empresa necesita,
        para dar forma y poner en marcha cualquier propuesta que aumente la visibilidad de tu proyecto.
            </p>
        </container>

    <container id="contimg">
    <img th:src="@{/img/logo.png}" id="blogo" alt="logobody">
    </container>

        <container id="contp2">
            <p id="p2">
        COMPROMISO

        Nos comprometemos con tu proyecto.

        Cumplimos al 100% nuestros plazos de entrega, sin retrasos ni imprevistos.
        CALIDAD

        Apostamos por la más alta calidad en nuestros productos y servicios.

        Revisamos constantemente nuestros estándares y llevamos a cabo ciclos de mejora continua.
        TECNOLOGÍA

        Utilizamos las máquinas más eficientes y precisas: láser de gran potencia, impresoras de transferencia térmica y tecnologías de marcaje de última generación.
        … Y un bonus extra: tenemos el mejor servicio post-venta del mercado
            </p>
        </container>


</div>
<footer>
    <div class="contacto">
        <span>Ana Pío Román</span>
    </div>
    <div class="contacto">
        <span>Teléfono: 629608659</span>
    </div>
    <div class="contacto">
        <span>PTL Valladares, Calle C; Nave A4
36315 Vigo
</span>
    </div>
    <div class="contacto">
        <span>Email: info@example.com</span>
        <button class="boton-enviar">Enviar</button>
    </div>
    <div class="contacto">
        <span>Email: diseño@example.com</span>
        <button class="boton-enviar">Enviar</button>
    </div>
</footer>

</body>
</html>