<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nosotros.css}">
</head>
<body>
<header>
    <div>
    <img th:src="@{/img/logo.png}" alt="logo">
    </div>
    <div class="company-name">
CAMALEON    </div>
</header>

<div class="tabs-container">
    <div class="tab"><a th:href="nosotros">Nosotros</a></div>
    <div class="tab"><a th:href="a360">360º</a></div>
    <div class="tab"><a th:href="laser">Laser</a></div>
    <div class="tab"><a th:href="merchand">Merchand</a></div>
    <div class="tab"><a th:href="ropa">Ropa</a></div>
    <div class="tab"><a th:href="videos">Videos</a></div>
</div>

<div class="container" id="cuerpo2">

<div class="column">
    <container id="contp1">
            <p id="p1">
        Te ayudamos a reforzar tu marca a través de la publicidad, el marketing digital y merchandising.
        Somos capaces de expresar lo que te hace distinto con la calidad y diferenciación que tu empresa necesita,
        para dar forma y poner en marcha cualquier propuesta que aumente la visibilidad de tu proyecto.
            </p>
        </container>
</div>

    <div class="column">
    <container id="contimg">
    <img th:src="@{/img/logo.png}" id="blogo" alt="logobody">
    </container>
    </div>

        <div class="column">
        <container id="contp2">
            <title>COMPROMISO</title>

            <p>Nos comprometemos con tu proyecto.Cumplimos al 100% nuestros plazos de entrega, sin retrasos ni imprevistos.</p>

            <title>CALIDAD</title>
            <p>Apostamos por la más alta calidad en nuestros productos y servicios.

                Revisamos constantemente nuestros estándares y llevamos a cabo ciclos de mejora continua.</p>

            <title>TECNOLOGÍA</title>

            <p>Utilizamos las máquinas más eficientes y precisas: láser de gran potencia, impresoras de transferencia térmica y tecnologías de marcaje de última generación.</p>


        <p>… Y un bonus extra: tenemos el mejor servicio post-venta del mercado. </p>
        </container>

        </div>
</div>
<footer>
    <div class="footer-content">
        <div class="inside-polygon">
            <div class="contacto">
                <span>Ana Pío Román</span>
            </div>
            <div class="contacto">
                <span>Teléfono: 629608659</span>
            </div>
            <div class="contacto">
            <span>PTL Valladares, Calle C; Nave A4
            36315 Vigo</span>
            </div>
            <div class="contacto">
                <span>Email: info@example.com</span>
                <button class="boton-enviar">Enviar</button>
            </div>
            <div class="contacto">
                <span>Email: diseño@example.com</span>
                <button class="boton-enviar">Enviar</button>
            </div>
        </div>
        <div class="outside-polygon">
        </div>
    </div>



</footer>

</body>
</html>