<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nosotros.css}">
</head>
<body>
<header>
    <div>
    <img th:src="@{/img/logo.png}" alt="logo">
    </div>
    <div class="company-name">
CAMALEON    </div>
</header>
<body>
<div class="tabs-container">
    <div class="tab">Nosotros</div>
    <div class="tab">360º</div>
    <div class="tab">Laser</div>
    <div class="tab">Merchand</div>
    <div class="tab">Ropa</div>
    <div class="tab">Videos</div>
</div>
</body>

</body>
</html>