<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Videos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/videos.css}">
</head>
<body>
<footer>
    <div class="contacto">
        <span>Ana Pío Román</span>
    </div>
    <div class="contacto">
        <span>Teléfono: 629608659</span>
    </div>
    <div class="contacto">
        <span>PTL Valladares, Calle C; Nave A4
36315 Vigo
</span>
    </div>
    <div class="contacto">
        <span>Email: info@example.com</span>
        <button class="boton-enviar">Enviar</button>
    </div>
    <div class="contacto">
        <span>Email: diseño@example.com</span>
        <button class="boton-enviar">Enviar</button>
    </div>
</footer>
</body>
</html>